/*@import "../node_modules/@syncfusion/ej2-base/styles/material.css";*/
/*@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";*/
/*@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";*/
/*@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";*/
/*@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";*/
/*@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";*/
/*@import "../node_modules/@syncfusion/ej2-image-editor/styles/material.css";*/


.meme-editor-container {
    /*background: #EFEFEF;*/
    /*border-left: 1px solid #282c34;*/
}

.template_popup_content {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-content {
    /*width: 800px;*/
}

.full-width {
    width: 100%;
}

.canvas-panel {
    /*background-color: #EFEFEF;*/
}